*{
    font-family: Helvetica;
}

h1 {
    background-image: url(./pattern.jpeg);
    font-size: 100px;
    font-weight: bold;
    color:khaki;
    text-align: center;
}

h2{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 10px;
}

.Bru{
    background-color: mediumspringgreen;
}

.Fra {
    background-color: lightcoral;
}

.Pai {
    background-color: skyblue;
}

p {
    display: inline-block;  
}

.price {
    font-weight: bold;
    color: blue;
}