/*General rules*/
body {
    font-size: 40px;
    color: white;
    background-color: black;
    opacity: 0.9;
}

.body {
    margin: 4% 20% 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 90px;
    color: white;
}

h3 {
    font-size: 70px;
}

footer{
    margin: 4% 3% 4% 3%;
}

/*Nav bar*/

header {
    display: flex;
    justify-content: space-between;
    margin: 1% 3%;
    height: 50px;
}

.logo {
    margin: 10px 20px;
    color: white;
    width: 300px;
    height: 90px;
}

nav {
    display: inline-flex;
}

a {
    padding: 10px;
    color: seashell;
    text-decoration: underline;
}

/*Mission Section*/

.Mission {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./img-mission-background.jpg);
    margin: 50px 0 50px 0;
    height: 1000px;
    opacity: 0.6;
    border: 0.5em solid white;
}

.missiont {
    background-color: black;
    justify-content: center;
    text-align: center;
    width: 1800px;
}


/*Products Section*/
.Products{
    text-align: center;
    height: 1500px;
}

.offer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1500px;
    height: 800px;
}

.innerOffer{
    margin: 40px 0;
}

.tom-pic{
    width: 400px;
    height: 300px;
    border: 0.2em solid white
}

/*Location Section*/

.Locations{
    text-align: center;
    height: 1000px;
    background-image: url(img-locations-background.jpg);
    opacity: 0.6;
    border: 0.5em solid white;
    width: 1800px;
}

.locations2{
    font-weight: bolder;
}
.address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: black;
}

.contact {
    text-align: center;
}